<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% if page.title %}{{ page.title }} {% else %}{{ site.title }} {% endif %}</title>

    <link rel="stylesheet" type="text/css" href="{{"/static/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/index.css" | prepend: site.baseurl }}">
</head>
<body>
    <header>
        <!-- navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.author }}</a>
                    <p class="navbar-text hidden-xs">{{ site.description }}</p>
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ site.baseurl }}/">首页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                游戏 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ site.baseurl }}/games/snake/">🐍 贪吃蛇</a></li>
                                <li><a href="{{ site.baseurl }}/games/gomoku/">⚫ 五子棋</a></li>
                                <li><a href="{{ site.baseurl }}/games/sudoku/">🎯 数独</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container main">
        {{ content }}
    </div>

    <div id="top" data-toggle="tooltip" data-placement="left" title="back to top">
        <a href="javascript:;">
            <div class="arrow"></div>
            <div class="stick"></div>
        </a>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span>路漫漫其修遠兮，吾將上下而求索</span>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{{ "/static/js/jquery-1.11.1.min.js" | prepend:site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/static/bootstrap/js/bootstrap.min.js" | prepend:site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/static/js/index.js" | prepend:site.baseurl }}"></script>
</body>
</html>